// @import "../components/secao-contato.scss";
@include menus;

.intro {
  margin-top: 200px;
  padding: 0px 0 128px 0;

  @include d(m) {
    padding: 0px 0 64px 0;
    margin-top: 100px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;

    .orna1 {
      position: absolute;
      top: 47%;
      left: -40px;
    }

    .orna2 {
      position: absolute;
      bottom: 0;
      right: 50%;
    }

    .orna3 {
      position: absolute;
      top: 5%;
      right: 60%;
    }

    @include d(m) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-texto {
      h1 {
        font-size: rem(64);
        font-family: $font-2;
        color: $cor-preto-1;
        max-width: 360px;

        @include d(m) {
          font-size: rem(48);
          width: 100%;
          margin: 0 auto;
          text-align: center;
        }
      }

      p {
        font-family: $font-1;
        font-weight: 600;
        font-size: rem(22);
        padding-top: rem(64);

        @include d(m) {
          text-align: center;
        }

        &::after {
          content: "";
          display: block;
          width: 32px;
          height: 2px;
          background: $cor-preto-1;
          margin-top: 22px;

          @include d(m) {
            margin: 16px auto 0 auto;
          }
        }
      }

      .select {
        display: grid;
        grid-template-columns: repeat(2, minmax(100px, 220px));
        gap: 32px;
        padding-top: rem(64);

        .select__box {
          padding: 21px 32px;
          border-radius: 6px;
          border: 1px solid $cor-cinza-1;
          color: $cor-preto-2;
          background: #fff;
          text-align: center;
          outline: 0;

          option {
            font-size: rem(16);
          }
        }
      }

      .btn {
        margin-top: 50px;
        @include btn;

        @include d(m) {
          margin: 50px auto 0 auto;
        }
      }
    }

    &-img {
      @include d(m) {
        padding-top: 64px;
      }
    }
  }
}

.about {
  padding: 128px 0;

  @include d(m) {
    padding: 64px 0;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: start end;
    align-items: center;
    position: relative;

    .orna2 {
      position: absolute;
      bottom: 28%;
      right: 10%;
    }

    .orna3 {
      position: absolute;
      top: 0;
      right: 50%;
    }

    @include d(m) {
      display: flex;
      flex-direction: column;
    }

    &-texto {
      @include d(m) {
        order: 1;
      }

      h2 {
        @include titulo-menor;
        padding-bottom: 20px;
        max-width: 480px;

        @include d(m) {
          text-align: center;
        }
      }

      p {
        @include paragrafo;
        max-width: 450px;

        @include d(m) {
          text-align: center;
        }
      }

      .btn {
        margin-top: 32px;
        padding: 16px 32px;
        @include btn;

        @include d(m) {
          margin: 32px auto 0 auto;
        }
      }
    }

    &-img {
      @include d(m) {
        padding-top: 40px;
        order: 2;
      }

      img {
        object-fit: cover;
        width: 100%;
      }
    }
  }
}

.destinations {
  padding: 128px 0;

  @include d(m) {
    padding: 64px 0;
  }

  .container {
    position: relative;
  }

  .orna1 {
    position: absolute;
    top: -5%;
    right: 20%;
  }

  .orna2 {
    position: absolute;
    bottom: -10%;
    right: 50%;
  }

  .orna3 {
    position: absolute;
    bottom: 30%;
    left: -40px;
  }

  &__titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      @include titulo-menor;
    }

    .view__all {
      color: $cor-laranja;
      font-size: rem(16);
      font-weight: 600;
      font-family: $font-1;
      display: inline-flex;
      align-items: center;
    }
  }

  &__wrapper {
    padding-top: rem(64);
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 25%));
    grid-column-gap: 20px;
    justify-content: space-between;

    @include d(m) {
      padding-top: 64px;
      display: flex;
      justify-content: space-between;
      grid-column-gap: 0;
    }

    &-card {
      @include d(m) {
        max-width: 350px !important;
        margin: 0 auto o !important;
      }

      picture {
        img {
          object-fit: cover;
          width: 100%;
          border-radius: 8px;
          position: relative;
          @include d(m) {
            height: 300px;
          }
        }

        .text {
          position: absolute;
          bottom: 0;
          left: 0;
          background: #fff;
          width: 120px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          border-radius: 0px 6px 0px 0px;
          p {
            padding-top: 8px;
            font-size: rem(16);
            font-weight: 600;
            color: #042521;
          }
          span {
            font-size: rem(14);
            color: #80918e;
            font-weight: 600;
            font-family: $font-3;
          }
        }
      }
    }
  }
}

.app {
  padding: 128px 0;

  @include d(m) {
    padding: 64px 0;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    position: relative;

    .orna2 {
      position: absolute;
      top: 10%;
      left: 5%;
    }

    .orna3 {
      position: absolute;
      bottom: 25%;
      left: 35%;
    }

    @include d(m) {
      display: flex;
      flex-direction: column;
    }

    &-texto {
      h2 {
        @include titulo-menor;
        padding-bottom: 20px;
        max-width: 410px;

        @include d(m) {
          text-align: center;
        }
      }

      p {
        @include paragrafo;
        max-width: 450px;

        @include d(m) {
          text-align: center;
        }
      }

      .btn {
        margin-top: 32px;
        padding: 16px 32px;
        @include btn;

        @include d(m) {
          margin: 32px auto 0 auto;
        }
      }
    }

    &-img {
      @include d(m) {
        padding-top: 64px;
      }

      img {
        object-fit: cover;
        width: 100%;
      }
    }
  }
}

.testimonials {
  padding: 128px 0;

  @include d(m) {
    padding: 64px 0;
  }

  &__titulo {
    h2 {
      @include titulo-menor;
      padding-bottom: 64px;
    }
  }

  &__wrapper {
    position: relative;

    .orna1 {
      position: absolute;
      top: -20px;
      right: -10px;
      z-index: -1;
      width: 40px;
    }

    .orna2 {
      position: absolute;
      bottom: 50%;
      left: 50%;
    }

    .orna3 {
      position: absolute;
      bottom: 0;
      right: 34%;
      z-index: 100;
      width: 30px;
    }

    &-card {
      display: grid;
      grid-template-columns: 450px 450px;
      justify-content: space-between;
      align-items: center;

      @include d(m) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      &-texto {
        .stars {
          display: flex;
          align-items: center;
          margin-bottom: 30px;

          img + img {
            margin-left: 16px;
          }
        }

        .depo {
          p {
            font-size: rem(24);
            line-height: 36px;
            font-family: $font-3;
            color: #000;
            max-width: 450px;

            @include d(m) {
              font-size: rem(18);
            }
          }

          .cite {
            padding-top: 40px;

            p {
              font-size: rem(22);
              font-weight: 700;
              font-family: $font-1;
            }

            span {
              display: block;
              font-size: rem(18);
            }
          }
        }
      }

      &-img {
        @include d(m) {
          margin-top: 32px;

          @include d(m) {
            margin: 32px auto 0 auto;
          }
        }

        picture {
          img {
            width: 100%;
            object-fit: cover;
            border-radius: 8px;
            height: 522px;
          }
        }
      }
    }
  }
}

.blog {
  padding: 128px 0;

  @include d(m) {
    padding: 64px 0;
  }

  &__titulo {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      @include titulo-menor;
    }

    .view__all {
      color: $cor-laranja;
      font-size: rem(16);
      font-weight: 600;
      font-family: $font-1;
      display: inline-flex;
      align-items: center;
    }
  }

  .container {
    position: relative;
  }

  .orna1 {
    position: absolute;
    bottom: -10%;
    right: 30%;
  }

  .orna2 {
    position: absolute;
    bottom: 30%;
    left: -40px;
  }

  .orna3 {
    position: absolute;
    top: -10%;
    left: 30%;
    z-index: 100;
  }

  &__wrapper {
    padding-top: 64px;
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 25%));
    justify-content: space-between;
    grid-column-gap: 20px;

    @include d(m) {
      padding-top: 64px;
      display: flex;
      justify-content: space-between;
      grid-column-gap: 0;
    }

    &-card {
      max-width: 250px;
      min-width: 200px;

      @include d(m) {
        max-width: 100%;
        width: 100%;
      }

      &-text {
        h3 {
          font-size: rem(18);
          font-family: $font-1;
          font-weight: 700;
          margin: 16px 0;
          color: #000;
        }

        p {
          font-size: rem(14);
          line-height: 22px;
          color: $cor-cinza-2;
        }

        .read__more {
          color: $cor-laranja;
          font-weight: 600;
          font-size: rem(14);
          margin-top: 22px;
          display: block;
        }
      }

      &-img {
        img {
          width: 100%;
          object-fit: cover;
          border-radius: 8px;

          @include d(m) {
            height: 300px;
          }
        }
      }
    }
  }
}

/* FOOTER*/
.footer {
  padding: 64px 0 0 0;
  background: #f9f9fb;

  &__wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 64px;
    border-bottom: 1px solid #c4c4c4;

    @include d(m) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    &-item1 {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: flex-start;
      max-width: 390px;

      @include d(m) {
        align-items: center;
        padding-bottom: 32px;
      }

      p {
        padding: 32px 0 64px 0;
        color: #848484;
        font-family: $font-3;
        font-weight: 300;
        font-size: rem(18);

        @include d(m) {
          padding: 32px 0;
        }
      }

      span {
        color: #848484;
        font-family: $font-3;
        font-weight: 300;
      }
    }

    &-item2 {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-end;

      @include d(m) {
        padding-bottom: 32px;
      }

      h3 {
        font-weight: 700;
        font-family: $font-3;
        font-size: rem(18);
        color: #000000;
        padding-bottom: 16px;
      }

      a {
        display: block;
        color: #848484;
        padding-bottom: 8px;
        font-family: $font-3;
        font-weight: 300;
        font-size: rem(18);
      }
    }
  }

  .social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0;

    a {
      display: block;

      & + a {
        margin-left: 32px;
      }
    }
  }
}

/* NAVEGAÇÃO DO SLIDE*/

.navigation {
  bottom: 0;
  right: 0px;
  position: absolute;
  background: #fff;
  width: 132px;
  display: flex;
  height: 60px;
  align-items: flex-end;
  justify-content: flex-end;
  border-radius: 16px 0px 0px 0px;
  z-index: 20;

  @include d(m) {
    top: 40px;
    right: 20px;
  }

  .next,
  .prev {
    ion-icon {
      border: 2px solid #000;
      padding: 10px;
      border-radius: 50%;
      font-weight: bold;
    }
  }

  .prev {
    margin-right: 22px;
  }
}

.orna1,
.orna2,
.orna3 {
  @include d(m) {
    display: none;
  }
}

/* ANIMAÇÃO DAS SEÇÕES*/
.js-section {
  opacity: 0;
  transform: translate3d(0, 50px, 0);
  transition: 0.3s;
  @include d(m) {
    opacity: 1;
  }
}

.js-section.ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
